/* Start Global */
body, html {
  overflow-x: hidden;
}

* {
  font-family: "Libre Franklin", sans-serif;
}

/* End Global */
/*Start  Navbar*/
nav {
  position: fixed !important;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  padding: 1rem !important;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.05);
}
nav .navbar-brand {
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}
nav .navbar-nav .nav-item a {
  line-height: 22px;
  padding: 5px 20px !important;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  color: #6c6c6c;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
nav .navbar-nav .nav-item.active a {
  color: #ac1313 !important;
}
nav .cart {
  border-left: 1px solid #ebebeb;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  margin-left: auto;
}
nav .cart a {
  opacity: 0.7 !important;
  text-transform: capitalize !important;
  color: #000 !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  font-family: "Libre Franklin", sans-serif;
  padding: 5px 20px;
}
nav .cart a:hover {
  opacity: 1 !important;
  text-decoration: none;
}
nav .cart a i {
  font-size: 17px;
  margin-right: 5px;
  padding-bottom: 8px;
}

@media (min-width: 991px) {
  nav .cart {
    order: 3;
  }
}
@media (max-width: 991px) {
  nav .navbar-nav {
    padding-top: 15px;
  }
  nav .navbar-nav .nav-item .nav-link {
    border-top: 1px solid #dcdcdc;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    padding: 15px 10px !important;
  }
}
/*End  Navbar*/
/* Start Thecart */
.mycart .overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 300ms ease 0s;
  z-index: 2000;
}
.mycart .overlay .thecart {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 480px;
  min-width: 320px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: translateX(-100px);
}
.mycart .overlay .thecart .head {
  padding: 20px;
  border-bottom: 1px solid #dcdcdc;
  border-radius: 6px;
}
.mycart .overlay .thecart .head span:first-child {
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.mycart .overlay .thecart .head span.close {
  cursor: pointer;
  position: relative;
  padding: 15px;
}
.mycart .overlay .thecart .head span.close span {
  width: 1px;
  height: 30px;
  background-color: #000;
  position: absolute;
  top: -3px;
  right: 10px;
}
.mycart .overlay .thecart .head span.close span:first-child {
  transform: rotate(45deg);
}
.mycart .overlay .thecart .head span.close span:last-child {
  transform: rotate(135deg);
}
.mycart .overlay .thecart .items {
  padding: 100px 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
.mycart .overlay .thecart .alert {
  text-align: center;
  margin: 20px;
  letter-spacing: 0.5px;
}

/* End Thecart */
/* Start Header */
.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  padding-top: 200px;
  padding-bottom: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(https://uploads-ssl.webflow.com/5ba96977bf120e1b45986c06/5bcf2b4c933fa5178d6f9d5f_About.jpg);
  background-position: 50% 67%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(219, 219, 219, 0.1);
}
.header h1 {
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header p {
  margin-bottom: 0px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Libre Franklin", sans-serif;
  color: #6c6c6c;
  font-size: 14px;
}

/* Start Media Query */
@media (max-width: 992px) {
  .header {
    height: auto;
    background-color: rgba(12, 21, 47, 0.6);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(https://uploads-ssl.webflow.com/5ba96977bf120e1b45986c06/5bcf2b4c933fa5178d6f9d5f_About.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://uploads-ssl.webflow.com/5ba96977bf120e1b45986c06/5bcf2b4c933fa5178d6f9d5f_About.jpg);
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .header h1 {
    color: #fff;
  }
  .header p {
    color: rgba(255, 255, 255, 0.8);
  }
}
/* Start Media Query */
/* End Header */
/* Start Categories */
.categories {
  position: relative;
  padding: 120px 20px;
  border-top-style: none;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}
.categories .container .vertical {
  position: absolute;
  left: 4.3%;
  top: 47.5%;
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg) translate(0px, -50%);
  -ms-transform: rotate(-90deg) translate(0px, -50%);
  transform: rotate(-90deg) translate(0px, -50%);
  font-family: Poppins, sans-serif;
  color: #dbdbdb;
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.categories .container > span {
  font-family: Poppins, sans-serif;
  color: #d77474;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.categories .container h3 {
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 60px;
}
.categories .container h3 > span {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  color: #ac1313;
  font-size: 68px;
  line-height: 68px;
  font-weight: 400;
}
.categories .container .category a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  color: #999;
  font-size: 16px;
  text-decoration: none;
}
.categories .container .category a .cat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 240px;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 30px;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 240px;
  background-color: #ebb96a;
  -webkit-transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  text-decoration: none;
}
.categories .container .category a .cat:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.categories .container .category a .cat img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.categories .container .category a .cat > span {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 38px;
  font-weight: 400;
}
.categories .container .category a .cat.f_cat {
  background-color: #e4b366;
}
.categories .container .category a .cat.s_cat {
  background-color: #f05b10;
}
.categories .container .category a .cat.th_cat {
  background-color: #a21010;
}
.categories .container .category .cats_info {
  margin-top: 90px;
}
.categories .container .category .cats_info .cat_inf h4 {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}
.categories .container .category .cats_info .cat_inf p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Libre Franklin", sans-serif;
  color: #6c6c6c;
  font-size: 14px;
  line-height: 24px;
}

/* Start media query */
@media (max-width: 768px) {
  .categories {
    padding: 100px 10px 50px;
  }
  .categories .container > span {
    font-size: 12px;
  }
  .categories .container h3 {
    font-size: 32px;
  }
  .categories .container h3 > span {
    font-size: 50px;
  }
  .categories .container .category a .cat {
    width: 210px;
    height: 210px;
    padding-top: 10px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .categories .container .category a .cat > span {
    font-size: 12px;
  }
  .categories .container .category .cats_info {
    margin-top: 50px;
  }
  .categories .container .category .cats_info .cat_inf h4 {
    font-size: 30px;
  }
  .categories .container .category .cats_info .cat_inf p {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .categories .container .category a .cat {
    width: 190px;
    height: 190px;
    margin: 0;
    padding-top: 10px;
  }
  .categories .container .category .cats_info .cat_inf h4 {
    font-size: 26px;
  }
  .categories .container .category .cats_info .cat_inf p {
    font-size: 13px;
  }
}
/* End media query */
/* End Categories */
/* Start clients_says */
.clients_says {
  background-color: #f8f8f8;
  position: relative;
  padding: 120px 20px;
  border-top-style: none;
  border-top: 1px solid #ebebeb;
}
.clients_says > span {
  font-family: Poppins, sans-serif;
  color: #d77474;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.clients_says h3 {
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 60px;
}
.clients_says .slick_slider {
  cursor: grab;
}
.clients_says .slick_slider .slick-dots {
  bottom: -40px;
}
.clients_says .slick_slider .slick-dots li.slick-active button:before {
  color: #ac1313;
}
.clients_says .client_say {
  background-color: #fff;
  padding: 50px 0;
  border: 1px none #eaf0fd;
  box-shadow: 0 0.5px 0.7px 0 rgba(0, 0, 0, 0.1);
  transition: all ease 400ms;
}
.clients_says .client_say:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.clients_says .client_say::after {
  font-weight: 700;
  bottom: -10px;
  content: ",,";
  display: block;
  color: #ccc;
  font-size: 130px;
  position: absolute;
  right: 14px;
  transform: skewX(-18deg);
  font-family: Poppins, sans-serif;
  opacity: 0.3;
}
.clients_says .client_say .img {
  width: 90px;
  height: 90px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  border-radius: 100px;
  background-image: url(https://uploads-ssl.webflow.com/5ba96977bf120e1b45986c06/5bb51966b7369f90e2c3cc37_lucas-sankey-378674.jpg);
  background-position: 50% 50%;
  background-size: cover;
}
.clients_says .client_say .name {
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  color: #1f2532;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}
.clients_says .client_say .inf {
  width: 120px;
  margin: 0px auto 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #a1a1a1;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}
.clients_says .client_say p {
  margin-bottom: 10px;
  font-family: "Libre Franklin", sans-serif;
  color: #6c6c6c;
  font-size: 14px;
  line-height: 24px;
}
.clients_says .client_say .social {
  margin-top: 20px;
  margin-bottom: 25px;
}
.clients_says .client_say .social a {
  width: 32px;
  height: 32px;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #dfdfdf;
  line-height: 32px;
  transition: all 400ms ease;
  display: inline-block;
  border-radius: 1px;
  position: relative;
}
.clients_says .client_say .social a::before {
  content: "";
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  transform: translateX(-50%) translateY(-72%);
  border-width: 7px;
  border-color: #333 transparent transparent;
  transition: all 400ms ease;
  display: none;
}
.clients_says .client_say .social a::after {
  transition: all 400ms ease;
  position: absolute;
  top: -42px;
  right: -20px;
  background-color: #333;
  font-size: 14px;
  color: #d4cfcf;
  border-radius: 3px;
  padding: 0px 5px;
  display: none;
}
.clients_says .client_say .social a:first-of-type::after {
  content: "Facebook";
}
.clients_says .client_say .social a:nth-of-type(2)::after {
  content: "Twitter";
  right: -11px;
}
.clients_says .client_say .social a:last-of-type::after {
  content: "Google+";
}
.clients_says .client_say .social a:hover {
  text-decoration: none;
  border-color: #ac1313;
}
.clients_says .client_say .social a:hover::after, .clients_says .client_say .social a:hover::before {
  display: block;
}
.clients_says .client_say .social a:hover i {
  color: #ac1313;
}
.clients_says .client_say .social a i {
  font-size: 18px;
  color: #CCC;
}

/* End clients_says */
/* Start Product */
.product {
  position: relative;
  padding: 220px 20px;
  border-top-style: none;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}
.product .container .vertical {
  position: absolute;
  left: -2%;
  top: 35%;
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg) translate(0px, -50%);
  -ms-transform: rotate(-90deg) translate(0px, -50%);
  transform: rotate(-90deg) translate(0px, -50%);
  font-family: Poppins, sans-serif;
  color: #dbdbdb;
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product .container .pr_r .img {
  margin-right: auto;
  text-align: center;
  height: 220px;
  background-color: #f5f5f5;
  width: 90%;
  border-radius: 3px;
}
.product .container .pr_r .img img {
  position: absolute;
  top: 0;
  margin: 0;
  left: 0;
}
.product .container .pr_r .img img:first-child {
  margin: auto;
  z-index: 1;
  margin-top: 20px;
}
.product .container .pr_r .img img:last-child {
  margin-right: auto;
  margin-left: 180px;
  z-index: 2;
  margin-top: -80px;
}
.product .container .pr_r .p_inf h5 {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}
.product .container .pr_r .p_inf h5 > span {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  color: #ac1313;
  font-size: 60px;
  line-height: 68px;
  font-weight: 400;
}
.product .container .pr_r .p_inf p {
  width: 75%;
  margin-bottom: 10px;
  font-family: "Libre Franklin", sans-serif;
  color: #6c6c6c;
  font-size: 14px;
  line-height: 24px;
}
.product .container .pr_r .p_inf a {
  display: block;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  transition: all 400ms ease;
  color: #000;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

/* Start Media Query */
@media (max-width: 438px) {
  .product .container .pr_r .img img:first-child {
    width: 280px !important;
    margin-left: 0 !important;
  }
  .product .container .pr_r .img img:last-child {
    margin-left: 140px !important;
  }
}
@media (min-width: 439px) and (max-width: 767px) {
  .product .container .pr_r .img {
    margin: auto;
  }
  .product .container .pr_r .img img:first-child {
    width: 300px;
    margin-left: 80px;
  }
  .product .container .pr_r .img img:last-child {
    width: 250px;
    margin-top: -60px;
    margin-left: 210px;
  }
  .product .container .pr_r .p_inf {
    margin-top: 16rem;
  }
  .product .container .pr_r .p_inf p {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .product .container .pr_r .img {
    width: 100%;
  }
  .product .container .pr_r .img img:first-child {
    width: 300px;
  }
  .product .container .pr_r .img img:last-child {
    width: 200px;
    margin-top: -20px;
    margin-left: 180px;
  }
  .product .container .pr_r .p_inf p {
    width: 100%;
  }
  .product .container .pr_r .p_inf a {
    margin-top: 10px;
  }
}
/* End Media Query */
/* End Product */
/* Start Contact_info */
.contact_info {
  position: relative;
  padding: 170px 0;
  border-top-style: none;
  background-color: rgba(219, 219, 219, 0.1);
  border-top: 1px solid #ebebeb;
  background-color: #F6F6F6;
}
.contact_info h6 {
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}
.contact_info p {
  font-family: "Libre Franklin", sans-serif;
  line-height: 24px;
  color: #6c6c6c;
  margin-bottom: 75px;
  margin-top: 25px;
}
.contact_info .contacts .con_in i {
  display: block;
  font-size: 50px;
  color: #CCC;
  transition: all 0.3s ease-in;
}
.contact_info .contacts .con_in i:hover {
  color: #ac1313;
}
.contact_info .contacts .con_in .title {
  display: block;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
}
.contact_info .contacts .con_in .inf {
  font-family: "Libre Franklin", sans-serif;
  display: block;
  color: #6c6c6c;
  font-size: 14px;
}

/*End Contact_info */
/* Start Footer */
.footer {
  padding: 30px 0;
  border-top: 1px solid #ebebeb;
  background-color: rgba(219, 219, 219, 0.1);
  font-family: "Libre Franklin", sans-serif;
  color: #555;
  font-size: 12px;
  line-height: 22px;
}
.footer a {
  color: #333;
  font-weight: 700;
  margin: 0 5px;
  transition: all 0.4s ease;
}
.footer a:hover {
  color: #ac1313;
}

/* End Footer */

/*# sourceMappingURL=about.css.map */
